<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myAbility.collection.login.DAO.IloginDAO">

	<select id="selectLogininfo" 
		parameterType="String" resultType="com.myAbility.collection.login.DAO.loginDTO">
		SELECT * FROM LOGIN WHERE USERID = #{userId}
	</select>
	
	<update id="updateLogininfo" parameterType="com.myAbility.collection.login.DAO.loginDTO">	
		UPDATE LOGIN SET USERPW=#{userPw} WHERE USERID=#{userId}
	</update>


</mapper>